.square150 {
  width: 150px;
  height: 150px;
}
.remove-image {
  text-decoration: none;
  font-weight: bold;
  color: #a94442;
}
.photo-gallery-thumbnail {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  float: left;
}
.photo-gallery-thumbnail .remove-image {
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  color: gray;
  font-size: 14px;
  font-family: arial;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
/*----- Tabs -----*/
.tabs {
  width: 100%;
  display: inline-block;
}
/*----- Tab Links -----*/
.tab-links {
  margin-bottom: 0;
  padding: 0;
}
/* Clearfix */
.tab-links:after {
  display: block;
  clear: both;
  content: '';
}
.tab-links li {
  margin: 0px 5px;
  float: left;
  list-style: none;
}
.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  font-size: 16px;
  transition: all linear 0.15s;
  outline: none !important;
  border-bottom: 0 !important;
  color: #ccc;
  text-decoration: none;
}
li.active a,
li.active a:hover {
  color: #4c4c4c;
  border-bottom: 2px solid !important;
}
/*----- Content of Tabs -----*/
.tab-content {
  padding: 25px;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
.photo-gallery-thumbnail .remove-image {
  font-size: 11px;
}
#open_uploader {
  display: none;
}
.custom-upload-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: #eee;
  border: 2px dashed #999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-upload-button:before {
  content: "+";
  font-size: 60px;
  font-weight: bold;
  color: #999;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -17px;
}
.custom-upload-button [type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
}
.image-preview {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.untouchable {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  z-index: -1 !important;
  left: -99999px !important;
}
.transparent {
  opacity: 0;
}
.text-danger {
  color: #a94442;
}
.text-muted {
  color: #777777;
}
/* property listing */
.properties-listing.hentry {
  padding-top: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.properties-listing .display-mode-container {
  text-align: right;
}
.properties-listing .display-mode-container .dashicons {
  position: relative;
  top: 5px;
}
.properties-listing .display-mode-container a.selected {
  color: red;
}
.property-items-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.property-items-container .property-item {
  width: 49%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #fff;
  position: relative;
  font-size: 14px;
  display: inline-block;
}
.property-items-container .property-item:nth-child(2n) {
  margin-left: 1%;
}
.property-items-container .property-item [class*="attachment-"] {
  width: 100%;
}
.property-items-container .property-item .entry-summary {
  padding: 10px;
}
.property-items-container .property-item .entry-title {
  font-size: 15px;
}
.property-items-container .property-item hr {
  margin: 10px 0;
}
.property-items-container .property-item .property-meta {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  color: white;
  font-weight: bold;
  background: #4579BE;
  padding: 3px;
}
.property-items-container .property-item .property-meta.right {
  right: 0;
  left: auto;
}
@media (max-width: 755px) {
  .property-items-container .property-item {
    width: 100%;
  }
}
/* property detail */
.single-property .bx-wrapper {
  margin-bottom: 5px;
}
.single-property .bx-wrapper a {
  border-bottom: none;
}
.single-property #bx-pager {
  text-align: center;
  top: -100px;
  z-index: 1;
  position: relative;
  margin-bottom: -80px;
}
.single-property #bx-pager a {
  display: inline-block;
  border-bottom: none;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.5;
  border: 1px solid #ddd;
  margin: 5px;
}
.single-property #bx-pager a.active,
.single-property #bx-pager a:hover {
  opacity: 1;
}
.single-property #bx-pager a img {
  width: 60px;
  margin: 5px;
}
.single-property h1.entry-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.single-property .amentity {
  font-weight: bold;
}
.single-property .amentity.unavailable {
  color: #999;
  font-weight: normal;
}
.single-property .dashicons-before:before {
  top: 5px;
  position: relative;
}
.single-property #map-canvas {
  width: 100%;
  height: 300px;
}
.single-property .floorplan-image {
  width: 100%;
}
.single-property .property-video {
  width: 100%;
  height: 415px;
}
@media (max-width: 755px) {
  .single-property #bx-pager {
    display: none;
  }
}
/* property search widget style */
.txp-property-search-form .txp-row {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #ddd;
}
.txp-property-search-form .txp-row .txp-half-row {
  width: 48%;
  display: inline-block;
}
.txp-property-search-form .txp-row .txp-half-row:nth-child(2n) {
  float: right;
}
.txp-property-search-form .txp-row label {
  display: block;
  font-size: 14px;
}
.txp-property-search-form .txp-row input,
.txp-property-search-form .txp-row select {
  width: 100%;
  height: 34px;
  margin-bottom: 10px;
  color: #707070;
}
/* submit form */
.submit-property-form fieldset legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.submit-property-form [type=radio] {
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  height: auto;
}
.submit-property-form select,
.submit-property-form input[type=text],
.submit-property-form input[type=number] {
  width: 100%;
  height: 34px;
}
#payment_method_box {
  margin: 10px 0;
}
.map-info-box {
  border-top: 0;
  width: auto;
  background: #fff;
  min-width: 400px;
}
.map-info-box td {
  border: none;
  vertical-align: top;
  padding: 10px;
}
.map-info-box td h3 {
  margin: 0;
}
.map-info-box .label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.map-info-box .label.label-warning {
  background-color: #f0ad4e;
}
.map-info-box .control-label {
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 7px 7px;
  line-height: 1;
  top: 15px;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.map-info-box .control-label.sale {
  background-color: #a2bf52;
}
.map-info-box .control-label.new {
  background-color: #60a7d4;
}
