/*
Style for TreXanh Property admin
*/
table.form-table {
    td {
        label {
            margin-right: 15px;
        }
    }
}
@import "../../../../assets/css/photo-gallery.less";
.custom-upload-button, .remove-current-image {
    display: none;
}
#open_uploader {
    display:block;
    clear:both;
    position: relative;
    top: 5px;
}

#txp_metabox_media input {
    width: 80%;
}

@media (max-width: 755px) {
    #txp_metabox_media input {
        width: 100%;
    }
}